*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
:root{
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1e1f4;
    height: 65px;
}

header .navBar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .logo {
    flex-basis: 20%;
}
header .navBar ul li{
    margin: 0 30px;
}

header .navBar ul li a{
    text-decoration: none;
    color: #816d66;
    padding: .4rem .8rem;
    margin: 0 5px;
}
header .logo{
    position: relative;
    top: 25px;
}
header .logo img{
    object-fit: cover;
}
.active{
    color: #371401 !important;
    border-bottom: 2px solid #381400;
}


/* ***************************************hero section *************************** */

.hero{
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1e1f4;
}
.hero h1{
    font-size: 3.5rem;
    color: #381400;
}
.hero .hero-content{
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #b6a0a4;
    width: 520px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero .hero-content button{
    padding: .8rem .4rem;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(180deg,#60422e 50%,#3e1d06 50%);
    color: white;
    border-radius: 2px;
}


.products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 4rem 0;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.product-info h3{
    padding: .8rem 0;
}
.product-info p{
    color: #371401;
}

footer{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #371401;
}
footer > div{
    /* width: 100px; */
    text-align: center;
    padding: 0 4rem;
    border-right: 1px solid #816d66
    
}
footer > div h2{
    font-size: 2.2rem;
    margin-bottom: 2.2rem;

}
footer > div:nth-child(3){
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    border: none;
}
footer > div:nth-child(3) form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > div:nth-child(3) form div{
    display: flex;
    flex-direction: column;
}
footer > div:nth-child(3) form div input{
    padding: .8rem;
}
footer > div:nth-child(3) form div label{
    margin: .4rem 0;
}

footer > div:nth-child(3) form button{
    padding: .8rem;
}

.follow-us-links img{
    width: 30px;
    margin: 0 .5rem;
}






@media (max-width: 950px) {
    *{
        /* outline: 1px solid red; */
    }

    header .navBar ul li {
        margin: 0 5px;
    }
    header .navBar ul li a {
        margin: 0 0px;
    }

    .hero {
        padding: 3rem 0;
    }

    footer > div {
        padding: 0 0rem;

    }

    footer > div h2{
        font-size: 1.2rem;
    }

    footer {
        height: 30vh;
    }
}